/* LWN Recipe Container */
.lwn-recipe-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 2.5rem;
}

/* Image Overlay */
.lwn-recipe-title-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
@media (min-width: 768px) {
  .lwn-recipe-title-container {
    height: 60vh;
  }
}
.lwn-recipe-title {
  display: inline-block;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  padding: 1rem 1.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 1;
  letter-spacing: -0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  opacity: 0.7;
}
@media (min-width: 768px) {
  .lwn-recipe-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
.lwn-recipe-description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  width: 50%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* LWN Recipe Section */
.lwn-recipe-section {
  position: relative;
  margin: 1rem auto;
}

/* Recipe Meta */
.lwn-recipe-meta-box {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .lwn-recipe-meta-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.lwn-recipe-single-meta {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  padding: 0.75rem 1rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  opacity: 0.7;
}
.lwn-recipe-single-meta:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* LWN Recipe Steps and Ingredients Section */
.lwn-recipe-ingredients-and-steps {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .lwn-recipe-ingredients-and-steps {
    flex-direction: row;
    justify-content: center;
  }
  .lwn-recipe-box-width-50 {
    width: 48%;
  }
}
.lwn-recipe-box-width-50 {
  padding: 10px 15px;
  border-radius: 10px;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.lwn-recipe-section-title {
  position: absolute;
  top: -20px;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 150 0 / var(--tw-bg-opacity));
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.lwn-recipe-section-title:hover {
  animation: bounce 1s infinite;
}
[dir='ltr'] .lwn-recipe-section-title {
  left: 0;
}
[dir='rtl'] .lwn-recipe-section-title {
  right: 0;
}
.lwn-recipe-section-content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* Recipe Notes */
.lwn-recipe-notes {
  background: #f4f4f4;
  padding: 5px 10px;
}
